*{
    box-sizing: border-box;
   
    

}
body{
    background-color:hsl(235, 18%, 26%) ;
    margin: 0px ,auto;
    font-size: 1rem;
    font-weight: 400;
   


}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  margin: 0 auto;
  
 
  
}

h1{
    font-size: 3rem;
    font-weight: 700;
    margin-left: 30px;
    color:hsl(235, 18%, 26%);
}
.join{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 30px;

}


.label-state{
    margin-top: 30px;
}
input{
   width: 80%;
    height: 40px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    outline: none;
    padding: 15px;
    margin-left: 30px;
}
.label-state{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-left: 30px;
    padding-bottom: 10px;
}
.error-state{
    color: red;
    margin-right: 50px;
}
p{
margin: 8px 0px;
margin-left: 15px;
}
.list-icon img{
    width: 22px;
    

}
.list-box{
    display:flex ;
    align-items: center;
    margin-left: 30px;
    font-size: 1.2rem;
    

}

button{
    width: 80%;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: 700;
    margin-left: 30px;
    
}
button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255, 85, 143, 1)0% );
    box-shadow: 0px 13px 30px -4px rgba(255, 98, 87, 1);
}


.thank-you{
    width: 420px;
    height: auto;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 100px auto;

}
.logo img{
    padding: 20px;
    width: 18%;
}
span{
    font-weight: 700;
}
.thank-you h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 5px;
}
.thank-you p {
    font-size: 1.rem;
    padding: 10px;
   color:hsl(231, 7%, 60%);
}
.thank-you button{
    margin-bottom: 30px;
    color:hsl(231, 7%, 60%);
    font-size: 1.2rem;
}
@media(max-width: 950px){
    .main-container{
        width: 100%;
        height: auto;
        flex-wrap: wrap-reverse;
        padding: 0;
        border-radius: 0;
    }
    .main-container img{
        width: 800px;
        
    }
    .thank-you{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        justify-content: space-between;
        padding: 20px;
        padding-top: 70px;
        margin: 0;
        

    }
    .thank-you p{
        font-size: 1.2em;
    }
    .thank-you button{
        margin-top: 45%;
    }
}
