*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    margin: 0 auto;

}
.main-container{
    background-color: navyblue;
    max-width: 800px;
    width:100%;
    height:100%

}
    


